<div class="content-heading">{{ inventorylist?.productcode }} Details</div>
<toaster-container [toasterconfig]="toasterconfig"></toaster-container>
<div class="row">
  <div class="col-sm-12">
    <div class="float-right">
      <button
        class="mb-2 btn btn-outline-primary mr-2"
        type="button"
        [routerLink]="['/inventory/inventory/summary']"
      >
        Back to Inventory
      </button>
    </div>
  </div>
</div>
<div class="row" *ngIf="LoadUI == false">
  <div class="col-lg-12 no-gutters mt-5">
    <div class="d-flex align-middle align-items-center justify-content-center">
      <div class="ball-grid-pulse">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="d-flex align-middle align-items-center justify-content-center">
      <h2 class="text-muted">Loading interfaces...</h2>
    </div>
  </div>
</div>

<div class="row" *ngIf="LoadUI == true">
  <div class="card">
    <div class="card-body">
      <div class="col-md-12">
        <button
          type="button"
          class="btn btn-success mr-2 float-left"
          routerLink="/inventory/inventory/edit/{{ id }}"
        >
          Edit Item
        </button>
        <button
          type="button"
          class="btn btn-danger mr-2 float-left"
          (click)="deleteInventory()"
        >
          Remove Item
        </button>
        <button
          type="button"
          class="btn btn-warning mr-2 float-left"
          (click)="productpicModal.show()"
        >
          Upload Image
        </button>
      </div>
      <div class="col-md-12 mt-4" *ngIf="sysuser?.userlevel >= 4">
        <div class="card">
          <div class="row pt-2">
            <div class="col-md-4 d-none d-md-block text-center bg-center">
              <div class="row">
                <div class="col-12 text-white">
                  <div
                    class="d-flex justify-content-center align-items-center"
                    style="min-height: 300px"
                  >
                    <a
                      href="{{ inventorylist?.image }}"
                      target="_blank"
                      *ngIf="inventorylist?.image != null"
                    >
                      <img
                        class="img-thumbnail thumb256 mb-3"
                        src="{{ inventorylist?.image }}"
                        alt="Red dot"
                      />
                    </a>
                    <img
                      *ngIf="inventorylist?.image == null"
                      class="img-thumbnail thumb256 mb-3"
                      src="assets/img/shop.jpg"
                      alt="Image"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center col-md-8 col-xs-12">
              <div class="table-responsive p-2">
                <table class="table table-bordered table-striped table-sm">
                  <tbody>
                    <tr>
                      <td width="200px"><b>PRODUCT CODE</b></td>
                      <td class="text-left">
                        <h3>{{ inventorylist?.productcode }}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">PRODUCT NAME</td>
                      <td class="text-left">
                        <h3>{{ inventorylist?.productname }}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">CATEGORY</td>
                      <td class="text-left">
                        <h3>{{ inventorylist?.cat.catname }}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">SUB CATEGORY</td>
                      <td class="text-left">
                        <h3>{{ inventorylist?.cat.subcat }}</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">COST</td>
                      <td class="text-left">
                        <h3>{{ inventorylist?.cost | number: "1.2-2" }} LKR</h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">SELLING PRICE</td>
                      <td class="text-left">
                        <h3>
                          {{ inventorylist?.sellingprice | number: "1.2-2" }}
                          LKR
                        </h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">SUPPLIER</td>
                      <td class="text-left">
                        <h3>
                          {{ inventorylist?.supplier.supplier_name }}
                        </h3>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-bold">QUANTITY</td>
                      <td class="text-left text-danger">
                        <h3>{{ inventorylist?.quantity }} Items Remaining</h3>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="sysuser?.userlevel < 4">
        <div class="col-md-12">
          <div class="card card-default">
            <div class="card-body">
              <div class="col-md-12 text-center">
                <alert type="danger">
                  <p class="lead">
                    <em class="fa fa-warning"></em> You DO NOT have permission
                    to perform this action !!!
                  </p>
                </alert>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    bsModal
    #productpicModal="bs-modal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="mySmallModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-warning">
          <h4 class="modal-title">Upload Image</h4>
          <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="productpicModal.hide()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row p-3">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <!-- <p-fileUpload
                    name="files"
                    [url]="UPLDURL"
                    (onUpload)="onUpload($event)"
                    accept="image/*"
                    maxFileSize="1000000"
                  >
                  </p-fileUpload> -->

                  <input
                    #imageInput
                    name="files"
                    type="file"
                    accept="image/*"
                    (change)="processFile(imageInput)"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row p-3">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <button
                    type="button"
                    class="btn btn-danger mr-2 float-left"
                    (click)="updateImage(productpicModal)"
                  >
                    Upload Image
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
